.reveal p {
	font-size: 38px;
}

.reveal li {
	font-size: 38px;
}

.reveal blockquote {
	border: 2px solid black;
	padding: 2%;
	font-style: normal;
	width: 90%;
	font-size: 38px;
}

.reveal em {
	text-decoration: underline;
}
